<<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
 <div class="container">
  <div class="row">

   <div class="col-md-4"></div>
      <div id="login" class="col-md-3">
         <h1>New List</h1>
         <div class="row-fluid" >
          <div class="span4 well"> 
<%= form_for @list, url: user_lists_path(@list.user_id) do |f| %>
         <fieldset>
           <div class="control-group">
            <%= f.label :title%>
            <%= f.text_field :title %>
          
            <%= f.hidden_field :user_id%>
           </div>
           <br></br>
            <div class="form-actions">
            <%= f.submit  class: "btn btn-primary" %>
            </div>
         </fieldset>
        <% end %>
        </div>
       </div>
 </div>
</div>
<div id="main" class="col-md-5"></div>

</div>
</body>
</html>