<H1>Hi <%= @user.login%></h1>
    <ul>
    <% @lists.each do |list|%>
        <li>
        <%= list.title %> 
        <%= link_to 'del', user_list_path(@user.id, list.id), method: :delete %>
        <%= link_to 'edit', edit_user_list_path(@user.id,list.id)%>
        <%= render 'tasks/form', list_id: list.id, user_id: @user.id %>
        <ul>
        <% list.tasks.each do |task| %>
            <li>
            <%= task.content%>
            <%= link_to 'del', user_list_task_path(@user.id, list.id, task.id), method: :delete%>
            <%= link_to 'edit', edit_user_list_task_path(@user.id, list.id, task.id), method: :get%>
            </li>
         <%end%>
        </ul>
        </li>
    <%end%>
    </ul>

<%= link_to 'ADD TODO_List', new_user_list_path(@user.id) %>