<<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
 <div class="container">
  <div class="row">

   <div class="col-md-4"></div>
      <div id="login" class="col-md-3">
         <h1>Sign in</h1>
         <div class="row-fluid" >
          <div class="span4 well"> 
           <%= form_tag("/sign_in", method: "post") do %>
         <fieldset>
           <div class="control-group">
            <%= label_tag(:login, "Login name") %>
            <%= text_field_tag(:login)%>
           <div class="controls">
            <%= label_tag(:password, "Password") %>
            <%= password_field_tag(:password) %>
           </div>
           </div>
           <br></br>
            <div class="form-actions">
            <%= submit_tag ("Log In"),  class: "btn btn-primary" %>
            </div>
         </fieldset>
        <% end %>
        </div>
       </div>
<p> Don't have account?</p>
<%= link_to 'Sign Up', new_user_path, class: 'btn btn-success'  %>
 </div>
</div>
<div id="main" class="col-md-5"></div>

</div>
</body>
</html>