<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=h flash[:error]%>
    <%=h flash[:notice]%>

    <header class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>Simple TODO Lists</h1>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
